name: Build 
permissions:
  contents: read


on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: yes
      - name: Git submodules (no clue why checkout has not got them)
        run: |
          git submodule init
          git submodule update
      - name: Docker Build
        run: |
          docker compose build
