name: Coverage

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: yes
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.20"
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 21
      - run: npm i -g pnpm
      - name: Git submodules (no clue why checkout has not got them)
        run: |
          git submodule init
          git submodule update
      - name: Build the package
        run: make -j
      - name: Test the package and, generate coverage reports (backend)
        run: |
          cd backend
          go test -v -benchmem -parallel 16 ./... -covermode=atomic -coverprofile=coverage.out
      - name: Test the package and, generate coverage reports (frontend)
        run: |
          npm i -g @vitest/coverage-v8
          cd cahfrontend 
          npx vitest run --coverage
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v4.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.go.coverage.reportPaths=backend/coverage.out
            -Dsonar.javascript.lcov.reportPaths=cahfrontend/coverage/clover.xml
            -Dsonar.projectKey=djpiper28_cards-against-humanity
            -Dsonar.organization=djpiper28
            -Dsonar.coverage.exclusions=**/*.test.ts,**/*.test.js,**/*.spec.ts,**/*.spec.js,**/*.test.tsx,e2e/,**/*_test.go,**/*_config.ts,**/test_*.go
